<div class="row">
  <div class="col-12 p-0">
    <p class="mt-5 mb-5">
      <span class="text-muted small d-none d-sm-block">
        Follow us on Twitter <a href="https://twitter.com/ReproBuilds">@ReproBuilds</a> and
        please consider <a href="{{ "/sponsor/" | prepend: site.baseurl }}">making a donation</a>.
        Content licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="rb-link" target="_blank">CC BY-SA 4.0</a>,
        style licensed under <a href="https://opensource.org/licenses/MIT" class="rb-link" title="MIT" target="_blank">MIT</a>.
        Templates and styles based on the <a href="https://styleguide.torproject.org/" target="_blank">Tor Styleguide</a>.
        Logos and trademarks belong to their respective owners.

        Patches welcome <a href="https://salsa.debian.org/reproducible-builds/reproducible-website">via our Git repository</a>
        (<a href="{{ "/contribute/salsa/" | prepend: site.baseurl }}">instructions</a>) or via <a href="https://lists.reproducible-builds.org/listinfo/rb-general">our mailing list</a>.
      </span>
    </p>

    <p class="d-none d-md-block float-left">
      <a href="https://sfconservancy.org"><img src="{{ "/assets/images/footer/conservancy.png" | prepend: site.baseurl }}" height="66" width="auto" alt=""/></a>
    </p>

    <p class="text-center float-md-right">
      <a href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/assets/images/footer/logo-text.svg" | prepend: site.baseurl }}" height="45" width="auto" alt=""/></a>
    </p>
  </div>
</div>
